DATABASE_URL= YOUR_DATABASE_URL_HERE
TEST_DATABASE_URL= YOUR_TEST_DATABASE_URL_HERE
MONGO_DB_URL= YOUR_MONGO_DB_URL_HERE
MONGO_DB_NAME=insight_quiz
TEST_MONGO_DB_NAME=insight_quiz_test
UPLOAD_DIR= uploads/
SERVER_URL= http://localhost:8080
MAIL_USERNAME= YOUR_MAIL_USERNAME_HERE
MAIL_PASSWORD= YOUR_MAIL_PASSWORD_HERE
GEMINI_API_KEY = YOUR_GEMINI_API_KEY_HERE